body {
  background-color: pink;
}

img {
  float: inline-start;
  height: 250px;
  width: 30%;
}

form {
  text-align: center;
}

h1,
p {
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
  font-family: sans-serif;
  color: gray;
}

.different-drinks {
  display: block;
}

#drinkInstructions {
  display: inline;
  list-style-type: none;
}

h2 {
  display: block;
  margin-left: auto;
}

#drinks {
  list-style-type: none;
}
